<html>

<head>
    <title>Next Bus Express - Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <div class="main-options">
            <a href="/"><button class="home"></button></a>
            <h1>Next Bus</h1>
        </div>
        <div class="second-options">
            <a href="/"><button class="refresh"></button></a>
            <button class="locate"></button>
            <button class="search"></button>
        </div>
    </header>
    <form class="search-form" action="/usersearch" method="POST">
        <input type="text" class="search-input" name="searchTerm" placeholder="Enter bus stop or route">
        <input type="submit" class="submit-user" value="Search">
    </form>

    <div class="card-list">
        <% for(let p=0 ; p<busData.length ; p++) { %>
            <div class="card" id=card<%= p %>>
                <div class="top">
                    <h2>
                        <%= busData[p].StopName %>
                    </h2>
                    <div class="card-options">
                        <button class="remove" id=<%= p %>></button>
                    </div>
                </div>
                <ul class="predictions">
                    <% for(let i=0 ; i<busData[p].Predictions.length; i++) { %>
                        <li>
                            <h3>Route
                                <%= busData[p].Predictions[i].RouteID %>
                            </h3>
                            <h3>
                                <%= busData[p].Predictions[i].DirectionText %>
                            </h3>
                            <h3>
                                <span class="time"><%= busData[p].Predictions[i].Minutes %></span> Minutes</h3>
                        </li>
                        <% } %>
                </ul>
            </div>
            <% } %>
    </div>

    <div id="demo"></div>
    <form id="coordinates" action="/search" method="POST">
        <input id="latitude" type="number" step="any" name="lat" />
        <input id="longitude" type="number" step="any" name="lon" />
        <input type="submit" />
    </form>

    <script src="/localForage-1.7.1/dist/localforage.js"></script>
    <script type="text/javascript" src="/mainScript.js"></script>
</body>

</html>